<div class="container my-3 p-3 rounded shadow">
  <div
    class="sticky-top bg-white rounded d-flex align-items-center border border-top-0 border-start-0 border-end-0 border-2"
  >
    <h5 class="px-3 text-primary">WebSite Features</h5>

    <hr />
  </div>

  <div class="m-3">
    <h5>Current Features</h5>
    <ul>
      <li>Customer or Tailor Registration with Email and Password.</li>
      <li>Cutomers and Tailor Both can edit their custom details.</li>
      <li>
        Customers can search the tailors and visit their pages and explore the
        categories and book appointment for a selected category.
      </li>
      <li>Customer can trach their their appointment status.</li>
      <hr />
      <li>
        Tailor can add, edit and delete the categories from their home page.
      </li>
      <li>
        Tailor can view all the recieved appointments and and manage them
        whether to accept, decline or change the date for the requested
        appointment.
      </li>
      <li>
        If an appointment is accepted then tailor can record the measurements
        and payments manually from the appoinment details page.
      </li>
    </ul>
    <h5>Upcoming Features</h5>
    <ul>
      <li>
        Email verification before the registration to register only genuine
        users.
      </li>
      <li>
        Email notifications services to update the appointment status time to
        time to the customers.
      </li>
      <li>Payment Gateway to Accept the online payments.</li>
    </ul>
  </div>
</div>
